
/* search section css start from here */
.search-page{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }
  
  .Searchupnav{
    width: 100%;
    height: 80px;
    /* background-color:rgb(116, 24, 202) ; */
    background-color:rgb(50, 8, 87); ;
  }
  .section10{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    border-bottom: 2px solid rgb(122, 112, 112);
  }
  
  .ajlogo{
    margin: 10px 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ajlogo img {
    width: 100%;
  }
  .searchform {
    width: 60%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 10px 20px; */
    padding: 5px 40px;
    
  }
  
  .searchform input{
    border: 1px solid rgb(50, 8, 87);
    padding: 10px;
    width: 90% !important;
    font-size: larger;
    border-top-left-radius:15px ;
    border-bottom-left-radius: 15px;
    font-weight: 200;
    margin-right: -2px;
  
  }
  
  .searchform button{
    padding: 6px 0 8px 0;
    width: 10%;
    font-size: x-large;
    color: white;
    background-color: rgb(50, 8, 87);
    border: 1px solid rgb(50, 8, 87);
    border: none;
    border-top-right-radius:15px ;
    border-bottom-right-radius: 15px;
  
  }
  
  .loginbtn {
    margin: 10px 10px;
    width: 20%;
    text-align: center;
    
  
  }
  
  .loginbtn button {
    background-color: white;
    width: 80%;
    font-size: 20px;
    padding: 4px 10px;
    border: 1px solid rgb(50, 8, 87);
    color: rgb(50, 8, 87) ;
    border-radius: 5px;
  }
  
  .side{
    display: flex;
    width: 100%;
    /* padding: 20px 10px; */
  }
  
  .leftside{
    width:20%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    justify-content: start;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(208, 200, 200);
    padding: 20px 20px 20px 40px;
  }
  .leftside:hover{
    cursor: pointer;
  }
  .leftside span {
    padding: 0px 10px;
    font-size: x-large;
    font-weight: bolder;
  }
  
  .leftside img.filter-icon{
    width: 30px;height: 30px;
    
  }
  
  
  
  .rightside {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 40px 10px 20px 10px;
  }
  .rightside form, .rightside div, .rightside p{
    width: 30%;
  }
  .rightside form,.rightside div{
    /* width: 30%; */
    display: flex;
    justify-content: center;
  }
  .rightside select {
    background-color: rgb(50, 8, 87);
    padding: 10px 15px ;
    color: white;
    border: none;
    width: 70%;
    border-radius: 10px;
    font-size: larger;
  }
  
  .rightside label{
    padding: 0px 10px;
    font-size: 20px;
  }
  
  .rightside p {
    border-left:  2px solid rgb(208, 200, 200);
    padding: 0px 40px;
    font-size: 20px;
  
  }
  
  .filtersapplied{
    border-bottom:  1px solid rgb(208, 200, 200);
    padding: 0px 30px 20px 40px;
    margin: 0 -25px;
    font-size: large;
    max-height: 200px;
    overflow-y: scroll;
    /* z-index: 100; */
  }
  .filtersapplied>div{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    gap: 30px;
    position: sticky;
    padding-top: 20px;
    top: 0;
  }
  
  .filtersapplied>div h3{
    width: fit-content;
    padding: 0;
    margin: 0;
  }
  .filtersapplied>div button{
    width: fit-content;
    background: none;
    color: black;
    padding: 0;
    margin: 0;
    font-size: small !important;
  }
  .filtersapplied>div button:hover{
    cursor: pointer;
  }
  .filter-container {
    border: 1px solid rgb(208, 200, 200);
    border-top: none !important;
    width: 25vw;
    height: 100%;
    padding: 0 25px;
  }
  .filter-container h3 {
   padding: 0px 20px;
  }
  .filter-container button {
    text-align: center;
    margin: 15px 50px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(50, 8, 87);
    color: white;
  }
  
  .filter-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .filter-container ul li {
    list-style: none;
    font-size: 12px;
    background-color: rgb(50, 8, 87);
    color: white;
    margin: 5px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
  }
  
  .filter-container ul li span {
    padding: 0px 5px;
  }
  .city-filters, .state-filters{
    border-bottom: 1px solid rgb(208, 200, 200);
    padding: 10px 25px;
    margin: 0 -25px 0 -25px;
  }
  .city ,.college , .state {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    /* border-right: none; */
    padding: 0px 20px 40px 20px ;
    margin: 10px 0 ;
    line-height: 20px;
  }
  .college{
    padding-top: 15px;
  }
  .filtersapplied::-webkit-scrollbar,.filter-container .city::-webkit-scrollbar,.filter-container .state::-webkit-scrollbar {
    width: 6px;
  }
  .filtersapplied::-webkit-scrollbar-thumb,.filter-container .city::-webkit-scrollbar-thumb, .filter-container .state::-webkit-scrollbar-thumb {
    background: rgb(154, 147, 147); 
    border-radius: 25px;
  }
  .filtersapplied::-webkit-scrollbar-track,.filter-container .city::-webkit-scrollbar-track, .filter-container .state::-webkit-scrollbar-track {
    background:rgb(208, 200, 200); 
    padding: 3px;
  }
  .filtersapplied::-webkit-scrollbar-track{
    background:none;
  }
  .college{
    height: fit-content;
  }
  
  .city  {
  }
  .city label {
    padding: 0px 10px;
    
  }
  .city h3 ,.state h3, .college h3{
    /* text-align: start; */
    padding: 0 0 10px 0;
    position: sticky;
    top: 0;
    background-color: white;
  }
  
  .state  {
    /* border: 1px solid rgb(208, 200, 200);
    padding: 10px 20px; */
  }
  .state label {
    padding: 0px 10px;
    
  }
  .state h3 {
    /* text-align: start;
    padding: 0px; */
    /* position: sticky; */
  }
  
  .college  {
    /* border: 1px solid rgb(208, 200, 200);
    border-bottom: none;
    padding: 10px 20px; */
  }
  .college label {
    padding: 0px 10px;
    
  }
  .college h3 {
    text-align: start;
    padding: 0px;
  }
  
  .slides1{
    display: flex;
    width: 100%;
    justify-content: right;
    border-bottom: 2px solid rgb(208, 200, 200);
    padding: 15px 0px ;
  
  
  }
  .slides1:last-child{
    border: none;
  }
  
  .slides1 .content2 h2 {
    font-size: 14px;
    margin-right: 10px;
  }
  
  .slides1 .content h1 {
    font-size: 20px;
  }
  
  .slides1 img {
    width: 80px;
    height: 50px;
  }
  
  .slides1 .content2 button:first-of-type {
    margin: 0px 10px;
    padding: 5px 25px;
  }
  .slides1 .content2 button:last-of-type {
    margin: 0px 10px;
    padding: 5px 25px;
  }
  
  .manage{
    display: flex;
    /* border: 1px solid rgb(208, 200, 200); */
  }
  .manage2{
    margin-left: -1px;
  }
  .slides{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(208, 200, 200);
    border-left: 1px solid rgb(208, 200, 200);
    /* border-left: 1px solid rgb(208, 200, 200); */
    padding: 20px 0px 40px 0 ;
    margin: 0px 0 0 0px;
  }
  .slides:last-child{
    border: none;
  }
  
  .imgages{
    display: flex;
    width: 50%;
    height: 250px;
    justify-content: center;
    padding: 0 20px;
  }
  .img1 {
    width: 80%;
    
  }
  .img1 img {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    
  }
  .img2{
    height: 250px;
    /* height: 100%; */
    width: 20%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
  
    
  }
  .img2 img {
    width: 100%;
    height:33.33%;
    margin: 3px 0px;
  }
  
  .img3 {
    width: 100%;
    height: 60px;
    margin: 3px 0px;
    background-image: url("../../assets/images/dehradun.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  
  }
  .img3 p {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .content {
    height: 250px;
    width: 47%;
    padding: 0 0 0 15px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .content h1{
    font-size: 25px;
  }
  .content1 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin: 2px 0px;
  }
  
  .content1 button {
    background-color: green;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    font-size: larger;
  }
  
  .content1 button :first-child {
    font-size: x-large;
  }
  
  
  .content12 {
    width: 40%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin: 10px 0px;
    transform: translate(-14% , 0%);
  }
  .content12 div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .content12 div span {
    color: red;
    font-size: 16px; 
    width: calc(100% - 80px);
  }
  
  .content1 div img {
    margin-right: 0px;
    width: 80px;
    height: 80px;
  }
  .content2 {
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
    align-items: center;
    gap: 10%;
  }
  .content2 h2 {
    color: rgb(50, 8, 87);
    font-size: 25px;
    width: 50%;
  }
  .content2 .buttons{
    display: flex;
    width: 50%;
    gap: 20px;
  }
  .content2 .buttons button{
    color: white;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;  
    font-size: large;
  }
  .content2 button:first-of-type{
    background-color:rgb(50, 8, 87) ;
  }
  .content2 button:last-child{
    background-color: green;
  }
  /* .content2 button:first-of-type:hover,
  .content2 button:last-child:hover,
  .lower button:first-child:hover,
  .content1 button:hover {
    cursor: pointer;
  } */
  .search-page button:hover{
    cursor: pointer;
  }
  .lower {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    margin-bottom: 50px;
    padding: 40px 0;
  }
  .lower button:first-child{
    background-color: rgb(50, 8, 87);
    color: white;
    padding: 10px 30px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    margin: 0rem 0rem;
  }
  /* .lower button:first-child:hover{
    cursor: pointer;
  } */
  
  .lower1{
    margin:0rem 3rem;
    width: 25%;
    font-size: large;
    
  }
  .lower1 button {
    font-size: large;
    padding: 5px 30px;
    margin: 0px 10px;
    border-radius: 10px;
  }
  .lower2 {
    width: 75%;
    text-align: center;
  }
  .lower2 button{
    box-shadow: 0px 0px 10px 5px rgba(142, 141, 141, 0.5);
    width: 30%;
    /* padding: 50px; */
  
  }
  .touch {
    width: 100%;
    text-align: center;
    background-color:  rgb(218, 231, 233);
    margin-top: 10px;
    padding: 30px 0px;
  }
  .touch-top{
    padding: 30px;
    margin: 5px 0;
    font-size: 30px;
  }
  .touch-top :last-child{
    font-weight: bold !important;
  }
  .touch form {
    margin-top: 20px;
  }
  .touch input {
    width: 20%;
    margin: 10px;
    padding:  5px 25px;
    font-size: 20px;
  }
  
  .touch button {
    padding: 15px;
    font-size: 20px;
    margin: 20px 20px;
    background-color: rgb(151, 150, 150);
    border: 1px solid rgb(164, 162, 162);
    border-radius: 5px;
    
  
  }

  
.no-colleges{
  margin: 40px;
  padding: 40px;
  text-align: center;
  color: grey;
  font-size: xx-large;
}