.detail-page{
    width: 100%;
    height: 100vh;
    /* overflow-x: hidden; */
    color: rgb(50, 8, 87,1);
    cursor: default;
}
.detail-page .firstbar{
    width: 100%;
    height: 50px;     
    background-color: rgb(50, 8, 87,1);
}