@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
       url('./fonts/Poppins-Regular.woff') format('woff');
  /* Add more font formats if available */
  /* Define different font weights and styles as needed */
  /* Example:
     font-weight: normal;
     font-style: normal;
  */
}

* {
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.carousel .control-dots {
  z-index: 0 !important;
}