*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.firstbar{
  width: 100vw;
  height: 80px; 
  /* remove the height when we got components */
  background-color: rgb(4, 4, 106);
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  color:  rgb(4, 4, 106);
}
.navimg{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.navimg img {
  width: 100%;
  padding: 5px;
}
.navitem ul{
  /* width: 65%; */
  list-style: none;
  display: flex;
}
.navitem ul li {
  padding: 1rem 2rem;
  font-size: 20px;
}
.ham{
  display: none;
}
.list1{
  display: none;
}
.ham1{
  display: none;
}
.list {
  display: none;
}

.bar1{
  display: flex;
}

.sec1{
  /* position: absolute; */
  width: 100vw;
  background-image: url("./assets/images/Cover.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  z-index: 0;
  
}

.subsec11{
  color: white;
}

.subsec11 h1{
  font-size: 35px;
  padding: 4.5rem 0rem;
  /* margin: 2rem 0rem; */
  /* i will change margin */
}
.subsec11 input {
  width: 40%;
  padding: 10px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0px;
}


.subsec11 button {
  color: white;
  background-color: rgb(4, 4, 106);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  margin: 2px -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 20px 0px;

}

.subsec12{
  color:black;
  margin-top: 10px;
  padding: 30px;

}

.subsec12 span {
  font-size: 15px;
  padding: 10px ;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  
  
}

.subsec13{
  display: flex;
  background-color: #e9e6e6;
  width: 60%;
  bottom: 50%;
  transform: translate(35%, 50%);
}

.subsec131 {
  margin: 20px 20px;
  display: flex;
  width: 25%;
  
}
.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100%;
}
.subsec131 h1 {
  font-weight: 500;
}

.card{
  width: 100vw;
  margin-top: 5rem;
  background-color: #e9e6e6;
}

.card h1{
  padding-top: 2rem;
  margin-left: 11rem;
}

.section2{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
  width: 100vw;
}

.subsec21{
  
  width: 23%;
  margin: 1rem 1rem;
  border: 1px solid ;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
 

}
.subsec23{
  width: 100%;
  
}
.subsec23 img{
  width: 100%;
  height: 150px;
  
}
.subsec23 h2{
  font-size: 25px;
  font-weight: 400;
  padding-right: 4rem;
  margin: -0.4rem 0rem;
  padding: 2rem 0.5rem;
  color: rgb(4, 4, 106);
  background-color: white;
}

.subsec22{
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: white;
  padding: 10px;
}
.subsec22 p{
  margin: 15px;
  font-size: 17px;
}
.subsec22 button{
  margin: 10px 15px;
  font-size: 15px;
  padding: 5px;
  border: none;
  color: white;
  border-radius: 10px;
  background: rgb(160,17,179);
background: linear-gradient(90deg, rgba(160,17,179,1) 39%, rgba(0,212,255,1) 100%);
}

.outer{
  width: 25%;
  padding: 10px 20px;
  font-size: 25px;
  bottom: 50%;
  border: none;
  border-radius: 10px;
  color: rgb(16, 16, 141);
  background-color: white;
  transform: translate(150%, 50%);

}

.section3{
 width: 100vw;
  background-color:rgb(37, 11, 83); ;
}
.section3 h1 {
  padding: 4rem 0rem;
text-align: center;
  font-size: 40px;
  color: white;
  
}
.c1 {
  width: 100%;
  padding: 1rem;
}

.main2{
  width: 100vw;
  display: flex ;
  margin: 1rem 1rem;
}
.box{
  width: 30%;
  margin: 0rem 1rem;
  padding: 0rem 2rem;
  text-align: center;
  border-radius: 15px;
}
.box img {
  width: 100%;
  height: 25%;
  padding: 0rem 0rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.box h2{
  background-color: bisque;
  
  padding: 1.5rem 0rem;
}
.box1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
 
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.box1 p:nth-of-type(2n+1) {
  width: 55%;
  font-size: 10px;
  text-align: justify;
  padding: 10px 10px;
  margin: 0px 10px;
}

.box1 p:nth-of-type(2n){
  width: 1%;
  font-size: 70px;
  padding: 0;
  margin: 0px 5px;
}

.box1 button {
  width: 30%;
  margin: 1.3rem 0.7rem;
  height: 80%;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  color: white;
  
  
}


.first{
  background-color: rgb(50, 235, 235);
}
.second{
  background-color: rgb(223, 130, 84);
}
.third{
  background-color: rgb(55, 197, 72);
}

.section4{
  width: 100vw;
 
}

.sec4{
  width: 100vw;
 
}

.sec4 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;

 

}

.thumbs-wrapper.axis-vertical{
  display: none;
}

.study {
  display: flex;
  width: 100%;
  justify-content: center;
}
.study h2 {
  font-weight: 400;
}
.Banglore{
  background-image: url("./assets/images/Bangalore.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  
}
.hyderbad{
  background-image: url("./assets/images/hyderabad.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.Delhi{
  background-image: url("./assets/delhi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.Dehradun{
  background-image: url("./assets/images/dehradun.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.Kolkata{
  background-image: url("./assets/images/Kolkata.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

}
.Pune{
  background-image: url("./assets/images/Pune.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.set1 {
height: 450px;
width: 30vw;
margin: 20px 5px;
text-align: center;
display: flex;
  align-items: center;
  justify-content: center;
}
.set2{
  height: 350px;
  width: 30vw;
  margin: 20px 5px;
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.set1 h2 {
background-color: rgba(0, 0, 0, 0.6);
color: white;
width: 100%;
padding: 8px;
}
.set2 h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 8px;
  }
  .section5 {
    text-align: center;
    width: 100vw;
   
  }
  .section5 h1{
    margin: 2rem 0rem;
    color:rgb(51, 4, 95);
    font-size: 30px;
    font-weight: 600;
  }

  .section6 {
    width: 100vw;
    background-color: rgb(193, 188, 188);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80VW;
    background-color: rgb(51, 4, 95);
    color: white;
    border-radius: 20px;
    transform: translate(0%, -50%);
  }
  .advice h1 {
    text-align: center;
    width: 65%;
    font-size: 40px;
    padding: 3rem 1rem;
  }

  .advice button {

    width: 35%;
    padding: 0.8rem 2.2rem;
    font-size: 25px;
    color:rgb(51, 4, 95);
    margin: 0rem 2rem;
    border-radius: 15px;
    border: none;


  }

  .partners{
    width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
 .partners .carousel .slide  img {
    width: 12%;
    height: 80px;
    vertical-align: top;
    border: 0;
}

  .uni{
    display: flex;
    width: 100%;
    justify-content: center;
    
  }
  .uni img {
    
    margin: 2rem 3rem;
    padding: 0rem 0rem;
    border-radius: 10px;
  }
  .upartner{
    color:rgb(51, 4, 95);
    font-size: 35px;
    

  }


  .card2{
    display: flex;
    padding: 1rem 8rem;
    justify-content: center;
  
   
  }

  .card21{
    margin: 1rem 1rem;
    width: 28%;
  }

  .card21 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
  }

  .card221{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px;
    width: 40%;
    z-index: 0;
   
  }

  .card221 img {
    
    border-radius: 0;
    width: 100%;
    height: 50px;

  }
  

  .card22{
    display: flex;
   background-color: white;
    width: 100%;
    padding: 1rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1;
    transform: translate(0%, -13%);
  }

  .card22 h4{
    width: 100%;
    padding: 1rem 1.5rem;
    text-align:start;
    font-size: 15px;
    

  }


  .card23{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translate(0%, -14%);

  }

  .card23 p {
    width: 60%;
    text-align:justify;
    font-size: 13px;
    padding: 0px 5px;
  }

  .card23 button {
    width: 35%;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    
  }
  .featured {
    width: 100%;
    text-align: center;
  }

  .featured h2 {
    margin: 1rem 0rem;
    color:rgb(51, 4, 95);
    font-size: 35px;
  }
  

  .section7 {
    width: 100vw;
    color: white;
    background: rgb(179,17,129);
background: linear-gradient(90deg, rgba(179,17,129,1) 0%, rgba(110,77,203,1) 54%, rgba(0,100,255,1) 100%);
  }
  .layout {
    display: flex;
  }

  .layout1 {
    width: 50%;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .layout1 h1{
    font-size: 80px;
    line-height: 3.5rem;
    text-align: justify;
    margin: 1rem 5rem;
    
  }
  .layout1 p {
    font-size: 19px;
  }
  
  .layout2 {
margin: auto;
  }

  .layout2 button {
    padding: 1rem 6rem;
    font-size: 20px;
    border: none;
    border-radius: 10px;
  }
  
  .section8 {
    width: 100vw;
    background-color: rgb(182, 230, 230);
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vm {
    padding: 1rem 4rem;
    font-size: 18px;
    background-color: rgb(36, 90, 36);
    color: white;
    border: none;
    border-radius: 10px;
    bottom: 50%;
    transform: translate(0%, 100%);

  }

  .students {
    display: flex;
    width: 100vw;
    background: rgb(179,17,129);
    background: linear-gradient(90deg, rgba(179,17,129,1) 0%, rgba(110,77,203,1) 54%, rgba(0,100,255,1) 100%);
  }

  .count {
    width:50%;
    color: white;
    margin: auto;
    text-align: center;
  }
  .count h1 {
    font-size: 80px;
    margin: 1rem;
    font-weight:500;
  }
  .count h2 {
    font-size: 60px;
    font-weight:500;
    line-height: 60px;
    font-weight:500;
    
  }


  .ach {
    width: 60%;
   
    
  }
  .group {
    display: flex;
    margin: 1rem;
   
    justify-content: center;
  }

  .human {
   justify-content: center;
    width: 13.5%;
    margin: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    background-color: white;
    padding: 10px 5px;
    border-radius: 15px;
    overflow: hidden;
  }

  .human img {
    margin: 5px;
   border-radius: 5px;
  }

  .lorem {
     text-align: center;
     width: 100vw;
  }

  .lorem h1{
    padding:  3rem 8rem;
    text-align: justify;
    font-size: 40px;
    letter-spacing: 0px;
    color: rgb(51, 4, 95);
    font-weight: 500;

  }

  .lorem p {
    padding: 0rem 8rem;
font-size: 20px;
    text-align: justify;
    margin-bottom: 2rem;
    font-weight: 400;
  }


  .foot {
    width: 100vw;
    height: 450px;
    background-color: rgb(1, 1, 21);
  }


  .section9{
    width: 100vw;
    display: flex;
    margin: 2rem 0rem;
    align-items: center;
  }

  .choose{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 4rem;
   
  }

  .choose1{
    margin: 1rem 2rem;
    font-size: 25px;
    color: rgb(51, 4, 95);
  }

  .step{
    display: flex;
    text-align: justify;
    margin: 1rem 2rem;
    border-radius: 10px;
  }
  .step h2 {
    font-size: 25px;
    margin:  5px 20px;
  }

  .step p {
    font-size: 20px;
    margin:  5px 20px;
  }

 
  .step.active {
    border: 2px solid;
    border-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    border-image-slice: 1;
    background-clip: border-box;
    -webkit-text-fill-color: transparent; /* For webkit-based browsers */
    -webkit-background-clip: text; /* For webkit-based browsers */
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
  }
  
  

  .mob {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 2rem 4rem;
    
  }

  .mob1{
        background-color: rgb(167, 152, 152);
        border-radius: 50%;
        height: 500px;
        margin: 4rem 0rem;
      
        
  }

  .mob1 img{
    width: 100%;
    height: 500px;
   
   
  }

   .section9 .carousel .slide img {
    width: 70%;
    vertical-align: top;
    border: 0;
    
}

/* Media queries start from here */

@media all  and (max-width:1200px) {

  .navitem ul li {
    padding: 1.5rem 1.3rem;
    font-size: 15px;
}

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subsec11 h1 {
  font-size: 30px;
}
.subsec11 input{
  width: 50%;
    padding:5px 10px;
}
.subsec11 button{
  padding:5px 10px;

}
.subsec13{
  width: 70%;
  transform: translate(0%, 50%);
  padding: 10px;
}
.subsec131{
  margin: 0;
}

.card h1 {
  padding-top: 2rem;
  margin-left: 7rem;
}

.subsec21 {
  width: 25%;
  margin: 1rem 0.8rem;
  
}
.subsec23 h2 {
  font-size: 20px;

}
.subsec22 p {
  margin: 10px 5px;
  font-size: 15px;
}

.subsec22 button{
  margin: 10px 5px;
  font-size: 10px;
}
.section3 h1 {
  padding-top: 3rem;
padding-bottom: 0;
}

.main2{
  margin: 1rem;
}
.box {
  padding: 0;
  margin: 1rem 1rem;
  width: 28%;
}
.box1{
  display: flex;
  flex-direction: column;
}
.box p:nth-of-type(2n+1) {
  width: 100%;
  margin: 0;
  padding: 10px;
}
.box p:nth-of-type(2n){
  display: none;
}
.box1 button {
  width: 80%;
}

.advice h1 {
  font-size: 30px;
  padding: 2rem 1rem;
}
.advice button {
  padding: 5px;
  font-size: 20px;
  margin: 0rem 1rem;
}

.card2{
  padding: 1rem 0rem;
}
.card21{
  width: 28%;
}
.card22 {
  padding: 1rem 0rem;
}

.card23{
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  transform: translate(0%, -25%);
  text-align: center;
}
.card23 p {
  width: 100%;
  padding: 0.5rem;
}
.card23 button {
  width: 90%;
  margin: 0.8rem;
}
.layout1 h1 {
  font-size: 45px;
  line-height: 2.5rem;
  margin: 1rem 0rem;
}
.layout2 button{
  padding: 0.5rem 4rem;

}
.section9{
  display: flex;
  width: 100vw;
 
  
}
.choose{
  width: 50%;
  margin: 1rem;
}
.choose1 {
  margin: 0rem;
  font-size: 20px;
}
.step{
  margin: 0.5rem;

}
.step h2{
  font-size: 20px;
  margin: 5px 10px;
  padding: 10px;
}
.step p {
  font-size: 15px;
  margin: 5px 10px;
  padding: 10px;
}

.mob{
  width: 40%;
  margin: 1rem;
}
.students{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;

}
.group{
  margin: 1rem 0rem;
}
.lorem h1{
  padding: 1rem 3rem;
  font-size: 30px;
}
.lorem p{
  padding: 1rem 3rem;
  font-size: 20px;
}
.list1{
  display: none;
}
}

@media all  and (max-width:900px) {

  .navitem ul li {
    padding: 1.5rem 0.5rem;
    font-size: 15px;
}

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subsec11 h1 {
  font-size: 30px;
  padding: 1rem 2rem;
}
.subsec11 input{
  width: 65%;
    padding:5px 10px;
    margin: 0rem;
}
.subsec11 button{
  padding:5px 10px;
  margin: 0rem;

}
.subsec13{
  width: 90%;
  transform: translate(0%, 50%);
}
.subsec131{
  margin: 0;
}

.card h1 {
  padding-top: 2rem;
  margin-left: 7rem;
}
.section3 h1 {
  padding-top: 2rem;
padding-bottom: 0;
}

.subsec21 {
  width: 25%;
  margin: 1rem 0.8rem;
  text-align: center;
  
}
.subsec23 h2 {
  font-size: 20px;

}
.subsec22 p {
  margin: 10px 5px;
  font-size: 15px;
}

.subsec22 button{
  margin: 10px 5px;
  font-size: 10px;
}

.main2{
  margin: 0;
}
.box {
  padding: 0;
}
.box1{
  display: flex;
  flex-direction: column;
}
.box p:nth-of-type(2n+1) {
  width: 100%;
  margin: 0;
  padding: 10px;
}
.box p:nth-of-type(2n){
  display: none;
}
.box1 button {
  width: 80%;
}

.advice h1 {
  font-size: 30px;
  padding: 0rem 1rem;
}
.advice button {
  padding: 5px;
  font-size: 20px;
  margin: 0rem 1rem;
}

.card2{
  padding: 1rem 0rem;
}
.card21{
  width: 30%;
}
.card22 {
  padding: 1rem 0rem;
}
.card22 h4{
  padding: 1rem 0.5rem;
}

.card23{
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  transform: translate(0%, -20%);
  text-align: center;
}
.card23 p {
  width: 100%;
  padding: 0.5rem;
}
.card23 button {
  width: 90%;
  margin: 0.8rem;
}
.layout1 h1 {
  font-size: 45px;
  line-height: 2.5rem;
  margin: 1rem 0rem;
}
.layout2 button{
  padding: 0.5rem 4rem;

}
.section9{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose{
  width: 90%;
}
.mob{
  width: 60%;
}
.students{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;

}
.group{
  margin: 1rem 0rem;
}
.list1{
  display: none;
}
}

@media all  and (max-width:700px) {

  .navitem ul li {
    padding: 1rem 0.5rem;
    font-size: 10px;
}

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subsec11 h1 {
  font-size: 24px;
  padding: 1rem 2rem;
}
.subsec11 input{
  width: 70%;
    padding:5px 10px;
    margin: 0rem;
}
.subsec11 button{
  padding:5px 10px;

  margin: 0rem;

}
.subsec12{
  padding: 15px;
}
.subsec12 span{
  margin: 5px;
}
.subsec13{
  width: 80%;
  transform: translate(0%, 50%);
  margin-bottom: 20px;
}
.subsec131{
  margin: 0;
  width: 25%;
  padding: 15px 5px;
}
.subsec131 h1{
  font-size: 15px;
}
.subsec131 p{
  font-size: 8px;
}
.number{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

.card h1 {
  padding-top: 2rem;
  margin: 0;
  
}

.subsec21 {
  width: 30%;
  margin: 1rem 0.4rem;
  
}

.subsec23 h2 {
  font-size: 20px;
  text-align: center;
  padding: 1rem 0rem;

}
.subsec22 {
  display: flex;
  flex-direction: column;
}
.subsec22 p {
  margin: 10px 0px;
  font-size: 15px;
  text-align: center;
  padding: 1rem 0rem;
}

.subsec22 button{
  margin: 10px 5px;
  font-size: 10px;
}
.outer{
  width: 40%;
  transform: translate(0%, 50%);
}
.section3 h1 {
  padding-top: 2rem;
padding-bottom: 0;
}
.main2{
  margin: 20px 0px;
}


.box {
  padding: 0;
  margin: 0rem 0.5rem;
}
.box h2 {
  padding: 0.5rem 0rem;
}

.study {
  display: flex;
  flex-direction: column;
}
.places1 {
  display: flex;
  flex-direction: row;
}
.places2 {
  display: flex;
  flex-direction: row;
}
.places3 {
  display: flex;
  flex-direction: row;
}
.set1{
  height: 300px;
  width: 100%;
  margin: 10px 5px;
}
.set2{
  height: 300px;
  width: 100%;
  margin: 10px 5px;
}
.box1{
  display: flex;
  flex-direction: column;
}
.box p:nth-of-type(2n+1) {
  width: 100%;
  margin: 0;
  padding: 10px;
}
.box p:nth-of-type(2n){
  display: none;
}
.box1 button {
  width: 80%;
}
.section6{
  margin-top: 3rem;
}
.advice{
  border-radius: 13px;
}

.advice h1 {
  font-size: 24px;
  padding: 0rem 1rem;
  
}
.advice button {
  padding: 5px;
  font-size: 15px;
  margin: 0rem 1rem;
}
.upartner{
  font-size: 30px;
}

.partners .carousel .slide img{
  width: 20%;
}
.uni img {
  margin: 1rem 0.5rem;
}

.featured h2{
  font-size: 30px;
}

.card2{
  padding: 1rem 0rem;
}
.card21{
  width: 30%;
  margin: 0.5rem 0.3rem;
}
.card22 {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}
.card22 h4 {
  width: 100%;
  font-size: 15px;
  text-align: center;
}
.card221{
  width: 70%;
 display: flex;
 
}

.card23{
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  transform: translate(0%, -20%);
  text-align: center;
}
.card23 p {
  width: 100%;
  padding: 0.5rem;
}
.card23 button {
  width: 90%;
  margin: 0.8rem;
}
.layout1 {
  padding: 1rem 0.3rem;
}
.layout1 h1 {
  font-size: 30px;
  line-height: 1rem;
  margin: 1rem 0rem;
}
.layout2 button{
  padding: 0.5rem 4rem;

}
.vm {
  padding: 1rem 3rem;
}
.section9{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose{
  width: 90%;
}
.choose1{
  font-size: 20px;
  margin: 1rem 0rem;
}
.step h2 {
  font-size: 20px;
  margin: 5px 15px;
}
.step p {
  font-size: 15px;
  margin: 5px 15px;
}
.mob{
  width: 60%;
  margin: 1rem 2rem;
}
.students{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;

}
.count{
  width: 90%;
}
.count h1 {
  font-size: 60px;
  
}
.count h2 {
  font-size: 40px;
}
.ach{
  width: 90%;
}
.group{
  margin: 1rem 0rem;
}
.lorem h1{
  padding: 1rem 1rem;
  font-size: 30px;
}
.lorem p {
  padding: 1rem;
  font-size: 15px;

}
.list1{
  display: none;
}

}



@media all  and (max-width:500px) {
  .navbar{
    height: 50px;
  }
.navimg{
  width: 40%;
  font-size: 8px;
  margin: 0rem 1rem;
}
.navitem{
  /* margin: auto; */
  display: none;
}
.ham {
  font-size: 25px;
  margin: 0.4rem 2rem;
  display: block;
}
.cross{
  width: 100%;
  font-size: 20px;  
}
.cross h1{
  text-align: right;
  margin: 0rem 2rem;
  
}
.list1{
  background-color: white;
  z-index: 1;
display: block;
 
}
.list2 ul {
  list-style: none;
  margin: 0rem;
  text-align: center;
}
.list2 ul li {
  padding: 10px 5px;
  background-color: white;
}

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subsec11 h1 {
  font-size: 20px;
  padding: 2rem 1.5rem;
}
.subsec11 input{
  width: 70%;
    padding:5px 5px;
    font-size: 15px;
    margin:  0px;
}
.subsec11 button{
  padding:5px 10px;
  font-size: 15px;
  margin:  0px;

}
.subsec12{
  padding: 10px 0px;
}
.subsec12 span{
  margin: 10px 5px;
  font-size: 10px;
  padding: 5px;
  margin: 2px;
}
.subsec13{
  width: 100%;
  transform: translate(0%, 50%);
}
.subsec131{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 25%;
  padding: 15px 0px;
}
.subsec131 h1{
  font-size: 20px;
}
.subsec131 p{
  font-size: 8px;
}
.number{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.section2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card h1 {
  padding-top: 2rem;
  margin: 0;
  
}

.subsec21 {
  width: 80%;
  margin: 1rem 0.4rem;
  
}

.subsec23{
  text-align: center;
}

.subsec23 h2 {
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 10px;

}
.subsec22 {
  display: flex;
  flex-direction: column;
}
.subsec22 p {
  margin: 10px 5px;
  font-size: 15px;
}

.subsec22 button{
  margin: 10px 5px;
  font-size: 10px;
}
.outer{
  width: 40%;
  transform: translate(0%, 50%);
  font-size: 15px;
  padding: 5px;
}
.section3 h1 {
padding-top: 2rem;
padding-bottom: 0;
  font-size: 20px;
}
.main2{
  margin: 20px 10px;
}


.box {
  padding: 0;
  margin: 0rem 0.1rem;
}
.box h2 {
  padding: 0.5rem 0rem;
  font-size: 13px;
}


.study {
  display: flex;
  flex-direction: column;
}
.places1 {
  display: flex;
  flex-direction: column;
  margin:0.5rem 1rem;
  padding: 0px 15px;
}
.places2 {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  padding:  0px 15px;
}
.places3 {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  padding:0px 15px;
  margin-bottom: 1.5rem;
}
.set1{
  height: 200px;
  width: 100%;
  margin: 10px 5px;
}
.set2{
  height: 200px;
  width: 100%;
  margin: 10px 5px;
}
.box1{
  display: flex;
  flex-direction: column;
}
.box p:nth-of-type(2n+1) {
  display: none;
}
.box p:nth-of-type(2n){
  display: none;
}
.box1 button {
  width: 80%;
  font-size: 10px;
  margin: 5px 3px;
}
.section6{
  margin-top: 1.5rem;
}
.advice{
  border-radius: 13px;
  padding: 10px;
  
}

.advice h1 {
  font-size: 15px;
  padding: 0.5rem 0.5rem;
  
}
.advice button {
  padding: 5px;
  font-size: 10px;
  margin: 0rem 0.4rem;
}
.upartner{
  font-size: 20px;
  text-align: center;
}

.partners .carousel .slide img{
  width: 20%;
}
.uni img {
  margin: 1rem 0.5rem;
}

.featured h2{
  font-size: 20px;
  margin: 0.2rem;
}

.card2{
  padding: 1rem 0rem;
}
.card21{
  width: 30%;
  margin: 0.5rem 0.3rem;
}
.card22 {
  display: flex;
  padding: 0.5rem 0rem;
  flex-direction: column;
  justify-content: center;
 align-items: center;
 border-top-right-radius:15px;
 border-top-left-radius:15px;
}
.card22 h4 {
  width: 100%;
  font-size: 10px;
  padding: 4px;
  text-align: center;
}
.card221{
  width: 100%;
 display: flex;
 
}

.card23{
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.1rem;
  transform: translate(0%, -45%);
  text-align: center;
}
.card23 p {
  display: none;
}
.card23 button {
  width: 90%;
  margin: 0.2rem;
  font-size: 10px;
}
.layout1 {
  padding: 1rem 0.3rem;
}
.layout1 h1 {
  font-size: 20px;
  line-height: 1rem;
  margin: 0.5rem 0.5rem;
}
.layout1 p {
  font-size: 10px;
}
.layout2 button{
  padding: 0.5rem 1rem;
  font-size: 10px;

}
.section8{
  padding: 10px;
}
.vm {
  padding: 0.5rem 1rem;
  font-size: 15px;
  transform: translate(0% , 70%)
}
.section9{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose{
  width: 90%;
  margin: 0;
 
}
.choose1{
  font-size: 15px;
  margin: 10px 10px;
}
.step{
  margin: 5px 10px;
}
.step h2 {
  font-size: 15px;
  margin: 5px 0px;
}
.step p {
  font-size: 10px;
  margin: 5px 0px;
}
.mob{
  width: 60%;
  margin: 0.5rem 1rem;
}
.students{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;

}
.count{
  width: 100%;
}
.count h1 {
  font-size: 30px;
  margin: 5px;
}
.count h2 {
  font-size: 20px;
  line-height: 20px;
}
.ach{
  width: 100%;
  padding: 0.5rem;
}
.group{
  margin: 0.5rem 0rem;
}
.human{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.lorem h1{
  padding: 0.3rem 1rem;
  font-size: 15px;
}
.lorem p {
  padding: 1rem;
  font-size: 10px;

}

}


/* search section css start from here */

.Searchupnav{
  width: 100vw;
  height: 60px;
  background-color:rgb(116, 24, 202) ;
}
.section10{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 2px solid rgb(122, 112, 112);
}

.ajlogo{
  
  margin: 10px 20px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ajlogo img {
  width: 100%;
}

.searchform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  width: 50%;
  

}

.searchform input{
  padding: 5px 10px;
  width: 40vw;
  font-size: 20px;
  border: 1px solid rgb(116, 24, 202);
  border-top-left-radius:5px ;
  border-bottom-left-radius: 5px;
  font-weight: 200;

}

.searchform button{
  padding: 6px 10px;
  font-size: 20px;
  color: white;
  background-color: rgb(116, 24, 202);
  border: 1px solid rgb(116, 24, 202);
  border: none;
  border-top-right-radius:5px ;
  border-bottom-right-radius: 5px;

}

.loginbtn {
  margin: 10px 10px;
  width: 20%;
  text-align: center;
  

}

.loginbtn button {
  background-color: white;
  width: 80%;
  font-size: 20px;
  padding: 4px 10px;
  border: 1px solid rgb(116, 24, 202);
  color: rgb(116, 24, 202) ;
  border-radius: 5px;
}

.side{
  display: flex;
  width: 100vw;
  padding: 20px 10px;
}

.leftside{
  width:10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.leftside span {
  padding: 0px 10px;
}



.rightside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.rightside select {
  background-color: rgb(116, 24, 202);
  padding: 10px 8px ;
  color: white;
  border: none;
  border-radius: 5px;
}

.rightside label{
  padding: 0px 10px;
  font-size: 20px;
}

.rightside p {
  border-left:  2px solid grey;
  padding: 0px 40px;
  font-size: 20px;

}

.category1 {
  display: none;
}

.category {
  border: 1px solid black;
  width: 25vw;
  height: 100%;
}

.category h3 {
 padding: 0px 20px;
}
.category button {
  text-align: center;
  margin: 15px 50px;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(116, 24, 202);
  color: white;
}

.category ul {
  display: flex;
  flex-wrap: wrap;
 
  justify-content: center;
}

.category ul li {
  list-style: none;
  font-size: 12px;
  background-color: rgb(49, 49, 103);
  color: white;
  margin: 5px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}

.category ul li span {
  padding: 0px 5px;
}

.city .college .state {
  border-right: none;
}

.city  {
  border: 1px solid rgb(208, 200, 200);
  padding: 10px 20px;
}
.city label {
  padding: 0px 10px;
  
}
.city h3 {
  text-align: start;
  padding: 0px;
}

.state  {
  border: 1px solid rgb(208, 200, 200);
  padding: 10px 20px;
}
.state label {
  padding: 0px 10px;
  
}
.state h3 {
  text-align: start;
  padding: 0px;
}

.college  {
  border: 1px solid rgb(208, 200, 200);
  border-bottom: none;
  padding: 10px 20px;
}
.college label {
  padding: 0px 10px;
  
}
.college h3 {
  text-align: start;
  padding: 0px;
}

.slides1{
  display: flex;
  width: 100%;
  justify-content: right;
  border-bottom: 2px solid rgb(208, 200, 200);
  padding: 15px 0px ;


}
.slides1:last-child{
  border: none;
}

.slides1 .content2 h2 {
  font-size: 14px;
  margin-right: 10px;
}

.slides1 .content h1 {
  font-size: 20px;
}

.slides1 img {
  width: 80px;
  height: 50px;
}

.slides1 .content2 button:first-of-type {
  margin: 0px 10px;
  padding: 5px 25px;
}
.slides1 .content2 button:last-of-type {
  margin: 0px 10px;
  padding: 5px 25px;
}

.manage{
  display: flex;
  border-top: 1px solid rgb(208, 200, 200);
}

.slides{
  display: flex;
  width: 100vw;
  border-bottom: 1px solid rgb(208, 200, 200);
  padding: 15px 0px ;
}
.slides:last-child{
  border: none;
}

.imgages{
  display: flex;
  width: 50%;
  height: 210px;
  justify-content: center;
}
.img1 {
  width: 70%;
  
}
.img1 img {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  
}
.img2{
  width: 20%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;

  
}
.img2 img {
  width: 100%;
  height: 60px;
  margin: 3px 0px;
}

.img3 {
  width: 100%;
  height: 60px;
  margin: 3px 0px;
  background-image: url("./assets/images/dehradun.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}
.img3 p {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;

}

.content {
  width: 47%;

}
.content h1{
  font-size: 25px;
}


.content1 {
  display: flex;
 justify-content: space-between;
  align-items: center;
  margin: 2px 0px;
}

.content1 button {
  background-color: green;
  color: white;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
}

.content1 button span {
  color: white;
  padding: 0px 5px;
  margin: 0px;
}

.content12 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0px;
  transform: translate(-14% , 0%);
}

.content12 span {
  color: red;
  font-size: 13px; 
}

.content1 img {
  width: 80px;
  height: 80px;
}

.content2 {
display: flex;
justify-content: space-between;
margin: 2px 0px;
align-items: center;

}

.content2 h2 {
 color: rgb(50, 8, 87);
 font-size: 25px;
 margin-right: 20px
}

.content2 button:first-of-type{
  background-color:rgb(50, 8, 87) ;
  color: white;
  padding: 5px 35px;
  margin: 0px 25px;
  border: none;
  border-radius: 5px;
}

.content2 button:last-child{
  background-color: green;
  color: white;
  padding: 5px 35px;
  margin: 0px 25px;
  border: none;
  border-radius: 5px;
}
 

.lower {
  display:  flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100vw;
  
}

.lower button:first-child{
  background-color: rgb(50, 8, 87);
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin: 0rem 0rem;
}

.lower1{
  margin:0rem 3rem;
  
}
.lower1 button {
  padding: 0px 20px;
  font-size: 20px;
  margin: 0px 10px;
}
.lower2 {
  width: 75%;
  text-align: center;
}

.touch {
  width: 100vw;
  text-align: center;
  background-color: rgb(180, 210, 200);
  margin-top: 10px;
  padding: 30px 0px;
}
.touch h2{
  margin: 10px;
  font-size: 30px;
  
}
.touch h3{
 font-size: 25px;
  padding-top: 30px;
}
.touch form {
  margin-top: 20px;
}
.touch input {
  width: 20%;
  margin: 10px 20px;
  padding:  2px 10px;
  font-size: 20px;
}

.touch button {
  padding:  2px 10px;
  font-size: 20px;
  margin: 20px 20px;

}